<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<head>
    <meta charset="UTF-8"/>
    <title>Home Page</title>

</head>
<body>
<div class="container">

<h2>Hello</h2>
    <div><h4>Welcome to my Spring boot application. This app is built with spring boot, JPA, Hibernate,
        Spring Security and is using a H2 in memory database. but also has configuration for a MySql database</h4>
        <p>For the heroku deploy, anytime the app is restarted any information created will be destroyed.
This app also has CRUD operations implemented at the moment with more features to be added asap. You can create an account and then add coworkers and clients.
A view that will sort clients and or coworkers by their timezone will be implemented soon.</p>
        <p>Please open the login link to create an account if you want to test out the app.</p>
        <P>Questions? <a href="mailto:grantsmurphy@gmail.com">Email</a> me here</P>
<p>A link to the git repo for this application is <a class="font-weight-bold btn"  href="https://github.com/granim/LongShadow">Here</a></p></div>


</div>
</body>
</html>